@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (min-width: 992px) {
  .r-border {
    border-right: 2px solid #003256;
  }
}

.form-group {
  margin: 20px 0 !important;
}

.lg-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.btn-join {
  display: block;
  font-size: 23px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 30px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  background-color: #bf831c;
}
.btn-join:hover {
  color: #fff;
  background-color: #ed7e74;
}

.form-heading {
  color: #003256;
  font-weight: bold;
  font-size: 17px;
}

.main-label {
  font-weight: 300;
  font-size: 19px;
}

.soon-title {
  font-size: 45px;
  font-weight: bold;
}

.box-text p {
  font-size: 19px;
  color: #bd8f33;
  font-weight: 500;
  margin-bottom: 3px;
}
.box-text img {
  width: 500px;
  margin-bottom: 8px;
}
@media (max-width: 991.98px) {
  .box-text img {
    width: 290px;
  }
}
.box-text .special-heading {
  position: relative;
  font-weight: bold;
  color: #bf831c;
  font-size: 28px;
}
.box-text .special-heading.more-lg::before {
  max-width: 550px;
}
.box-text .special-heading::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 230px;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -17px;
  border-radius: 0px 5px;
  margin: 0 auto;
  background-size: 200px;
  background-repeat: no-repeat;
  background-color: #bf831c;
}

.box-imp-text {
  background: rgba(255, 255, 255, 0.5);
  border: 1px rgba(112, 112, 112, 0.25) solid;
  padding: 30px;
  margin-top: 40px;
}
.box-imp-text p {
  color: #003256;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 1;
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.box-image .image-holder img {
  width: 200px;
  height: 115px;
}

.statstic-box h4 {
  font-weight: 400;
  font-size: 78px;
  color: #003256;
}
.statstic-box h4 span {
  font-weight: 100;
}
.statstic-box p {
  margin-bottom: 0px;
  font-size: 15px;
}

.followUs-box {
  background-color: rgba(237, 126, 116, 0.5);
}
.followUs-box .follow-option .follow-heding {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.followUs-box .follow-option .follow-heding::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 210px;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -17px;
  border-radius: 0px 5px;
  margin: 0 auto;
  background-color: #fff;
}
.followUs-box .follow-option .twitter-timeline {
  color: #007bff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}
.followUs-box .follow-option .twitter-timeline:hover {
  color: #0056b3;
  text-decoration: underline;
}
.followUs-box .follow-option .follow-button {
  padding: 5px 23px;
  background-color: #1d9bf0;
  color: #fff;
  font-size: 14px;
  border-radius: 9999px;
  display: block;
  font-weight: 500;
  margin: 28px auto 0pc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.followUs-box .follow-option .follow-button:hover {
  background-color: #0c7abf;
}

.headingBanner {
  background: #f9c9ca !important;
  padding: 30px 15px;
}
.headingBanner h2 {
  font-size: 82px;
  line-height: 2em;
  margin-bottom: 0px !important;
  display: block;
  color: #0e4068;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}

.title-page {
  background: transparent !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
.title-page nav {
  padding-bottom: 270px;
  border-bottom: 1px #ccc solid;
}
@media (max-width: 767.98px) {
  .title-page nav {
    padding-bottom: 25px;
  }
}
.title-page nav ol.breadcrumb {
  margin: 0;
}
.title-page nav ol.breadcrumb li {
  color: #0e4068 !important;
  text-decoration: none !important;
  font-weight: 600;
  transition: all 0.3s;
}
.title-page nav ol.breadcrumb li a {
  color: #0e4068 !important;
  text-decoration: none !important;
  font-weight: 600;
  transition: all 0.3s;
}

.img-after2 {
  position: absolute;
  z-index: -1;
  height: 500px;
  width: 100%;
  right: 0;
  left: 0;
  bottom: -340px;
}
.img-after2 img {
  height: auto;
  margin: auto;
  display: block;
}

.box-store h5 {
  color: #c6962d;
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: 900;
}
.box-store p {
  text-align: justify;
  line-height: 30px;
  color: #555;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
}

.images-container .image-box {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  width: 200px;
  height: 120px;
  cursor: pointer;
}
.images-container .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: 0.3s;
  z-index: 11;
}
.images-container .image-box:hover::before {
  opacity: 0.4;
}
.images-container .image-box:hover img {
  transform: scale(1.1);
}
.images-container .image-box:hover .image-caption {
  opacity: 1;
}
.images-container .image-box img {
  transition: 0.3s;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.images-container .image-box .image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: 0.3s;
  z-index: 11;
}

.main-inp {
  margin: 15px 0 0;
  background: #fff;
  display: block;
  width: 100%;
  height: calc(2.88rem + 2px);
  padding: 0.3rem 0.9rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-inp:focus {
  color: #495057;
  background-color: #fff;
  border-color: #c6962d;
  outline: 0;
  box-shadow: unset;
}

textarea.main-inp {
  height: auto;
}

.check-req {
  display: block;
  position: relative;
  padding-right: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 18px;
  margin-top: 15px;
  color: #0e4068 !important;
  font-size: 16px;
  font-weight: bold;
}
.check-req .won-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-req .won-check:checked ~ .checkmark {
  background-color: #ed7e74;
  border-color: #ed7e74;
}
.check-req .won-check:checked ~ .checkmark::after {
  display: block;
}
.check-req .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px #d7d7d6 solid;
}
.check-req .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  right: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.request-form .header-form .convert-lang {
  font-weight: 700;
  font-size: 19px;
  color: #003256;
}
.request-form .header-form .convert-lang:hover {
  text-decoration: underline;
}

.send-label {
  font-size: 18px;
  font-weight: 400;
}
.send-label a {
  color: #007bff;
}
.send-label a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.send-form {
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  color: #003256;
  background-color: #f9c9ca;
  font-weight: bold;
  opacity: 0.5;
  cursor: not-allowed;
  transition: 0.4s;
}
.send-form.ready {
  cursor: pointer;
  opacity: 1;
  background-color: #bf831c;
  color: #fff;
  font-weight: 400;
}
.send-form.ready:hover {
  background-color: #ed7e74;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(#fff, #f3e2e2);
  background-blend-mode: overlay;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.05;
  z-index: -1;
  background-image: url("../images/body-bg.png");
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

button {
  border: none;
  outline: none;
}

.btn-warning,
.btn-info {
  color: #fff;
}
.btn-warning:hover,
.btn-info:hover {
  color: #fff;
}
.btn-warning:focus,
.btn-info:focus {
  color: #fff;
}

input:focus,
select:focus {
  outline: none;
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 0.9647058824);
  box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(237, 126, 116, 0.7882352941);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ed7e74;
}

/* end scrollbar */
.up-btn {
  position: fixed;
  bottom: 16px;
  right: -50px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ed7e74;
  z-index: 999;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
.up-btn.show {
  right: 16px;
}
.up-btn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #d37067;
  transition: 0.4s;
}
.up-btn:hover::before {
  width: 100%;
}
.up-btn i,
.up-btn svg {
  font-size: 17px;
}

.join-holder {
  background-color: #e8d4c6;
}

.text-aboutUs h6 {
  color: #000080;
  font-weight: 800;
}
.text-aboutUs p {
  font-weight: 600;
  font-size: 19px;
  line-height: 32px;
}
.text-aboutUs ul {
  list-style: disc;
  padding-right: 40px;
}
.text-aboutUs ul li {
  font-weight: 600;
  font-size: 19px;
  line-height: 32px;
}

.header-holder .top-nav .image-holder-dk img {
  height: 145px;
  margin-top: 28px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.header-holder .top-nav .event-info p {
  margin-bottom: 4px;
  font-size: 21px;
  font-weight: bold;
  color: #003256;
}
.header-holder .top-nav .btn-holder .event-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ed7e74;
  color: #fff;
  margin-top: 17px;
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.4s;
}
.header-holder .top-nav .btn-holder .event-btn img {
  width: 50px;
}
.header-holder .top-nav .btn-holder .event-btn:hover {
  transform: scale(1.03);
}
.header-holder .bottom-nav {
  background-color: #003256;
  color: #fff;
}
.header-holder .bottom-nav .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.header-holder .bottom-nav .navbar-toggler i,
.header-holder .bottom-nav .navbar-toggler svg {
  color: #8099ab;
  font-size: 25px;
}
.header-holder .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  color: #fff;
  display: block;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
}
.header-holder .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #ed7e74;
  transition: height 0.3s;
}
.header-holder .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
  height: 5px;
}

.brand-swiper {
  max-height: 140px;
}
.brand-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-footer .top-footer img {
  width: 250;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.main-footer .top-footer .box-text {
  font-size: 16px;
  font-weight: bold;
  color: #003256;
}
.main-footer .top-footer .box-text p {
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 18px;
}
.main-footer .top-footer .sanad-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}
.main-footer .top-footer .sanad-box .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main-footer .top-footer .sanad-box .icon-box .circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.4s;
}
.main-footer .top-footer .sanad-box .icon-box .circle-icon i,
.main-footer .top-footer .sanad-box .icon-box .circle-icon svg {
  color: #fff;
}
.main-footer .top-footer .sanad-box .icon-box .circle-icon.one:hover {
  background-color: #1da1f2;
  border-color: #1da1f2;
}
.main-footer .top-footer .sanad-box .icon-box .circle-icon.two:hover {
  background-color: #e1306c;
  border-color: #e1306c;
}
.main-footer .top-footer .sanad-box .icon-box .circle-icon.three:hover {
  background-color: #0088ff;
  border-color: #0088ff;
}
.main-footer .top-footer .sanad-box .inp-holder {
  width: 100%;
}
.main-footer .top-footer .sanad-box .inp-holder p {
  margin-bottom: 5;
  font-size: 11px;
  color: #333;
  text-align: center;
}
.main-footer .top-footer .sanad-box .btn-holder .btn-join {
  width: 170px;
  border-radius: 55px;
  font-size: 17px;
  padding: 10px;
  background-color: #003256;
}
.main-footer .top-footer .sanad-box .btn-holder .btn-join:hover {
  background-color: #ed7e74;
}
.main-footer .bottom-footer {
  background-color: #003256;
  color: #fff;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */