.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.r-border {
  @include minWidth(lg) {
    border-right: 2px solid $third-color;
  }
}
.form-group {
  margin: 20px 0 !important;
}
.lg-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}