$main-color: #ed7e74;
$sec-color: #bf831c;
$secDark-color: #bd8f33;
$third-color: #003256;
$white-color: #fff;
$black-color: #000;
$gray-text: #6c6c6e;
$alt-gray-text: #8f95a3;
$light-gray: #f2f4fa;
$xt-gray-text: #676477;
$trouble-d: #ddd;
$trouble-3: #333;
$trouble-7: #777;
$trouble-8: #888;
$trouble-9: #999;