* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient($white-color, #f3e2e2);
  background-blend-mode: overlay;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.05;
    z-index: -1;
    background-image: url("../images/body-bg.png");
  }
}
ul {
  @include reset-ul;
}
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}

// Reset Bootstrap Btn
.btn-warning,
.btn-info {
  color: $white-color;
  &:hover {
    color: $white-color;
  }
  &:focus {
    color: $white-color;
  }
}

// Reset Input
input:focus,
select:focus {
  outline: none;
}
// heights-section
.section-height {
}

// Reset Modal
.modal-header {
  .modal-title {
    font-size: 15px !important;
  }
  .btn-close {
    margin: unset !important;
  }
}
/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6f6;
  box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #ed7e74c9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $main-color;
}
/* end scrollbar */

.up-btn {
  &.show {
    right: 16px;
  }
  position: fixed;
  bottom: 16px;
  right: -50px;
  width: 38px;
  height: 38px;
  @include flex-center;
  color: $white-color;
  background-color: $main-color;
  z-index: 999;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: $main-transition;
  &::before {
    content: "";
    @include reset-position;
    width: 0%;
    height: 100%;
    z-index: -1;
    background-color: #d37067;
    transition: $main-transition;
  }
  &:hover::before {
    width: 100%;
  }
  i,
  svg {
    font-size: 17px;
  }
}

.join-holder {
  background-color: #e8d4c6;
}
